$font-primary: 'Open Sans', Arial, sans-serif;


// Overrides
$grid-gutter-width: 40px; 
$border-radius-base:  4px;
$padding-base-vertical: 14px;

$brand-primary: #12346e;
$brand-secondary: #118DF0; 

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary;
$form-group-margin-bottom:       30px;

